.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.quicksand-heavy {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

*{
  padding: 5px;
  box-sizing: border-box;
}

body {
    background-color: #BA997F;
    padding: 40px;
}

#recipe-card{
    display: block;
    background-color: rgb(255, 240, 220);
    height: 100%;
    width: 850px;
    border: 4px solid #9D5901;
    border-radius: 25px;
    margin-top: 30px;
}

img {
    width: 98%;
    height: 90%;
    border: 2px dotted #9D5901;
    margin-left: 10px;
   
}

h1 , h2 , h3, p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

h1.fancy{
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

#break {
  position: relative;
  width: 845px;
  margin-top: 20px;
  margin-left: -5px;
  border-top: 4px solid #9D5901;
  border-bottom: 4px solid #9D5901;
 
}

ul, ol {
  margin-left: 40px;
}
